# Dependencies
node_modules/

# Build output
dist/

# Generated clients & specs
generated/
openapi.json
openapi.json.__snap

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Runtime data
*.tsbuildinfo
.DS_Store

# Environment files
.env*

# Data
data/

ref/
